body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 600px;
}

.hour, .min, .sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
} 

p {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
  color:rgb(45, 255, 73)
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: fit-content;
}

.group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.digit {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.bulb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #121212;
  transition: all 0.3s ease;
}

.bulb.on {
  background-color: rgb(45, 255, 73);
  box-shadow: 0 0 8px #3bff55, 0 0 16px #3bff55;
}

.format-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  background-color: rgb(45, 255, 73);
  border: none;
  color: #101010;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.ampm-wrapper {
  padding: 10px 15px;
  background-color: #121212;
  text-align: center;
}

#am-pm {
  color:rgb(45, 255, 73);
  font-size: 1rem;
  font-weight: 600;
}



/* Responsiveness*/
@media (max-width: 600px) {
  .description {
    flex-direction: row;
    gap: 20px;
  }

  .clock {
    gap: 30px;
  }

  .digit {
    gap: 8px;
  }

  .bulb {
    width: 40px;
    height: 40px;
  }
}


