* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #181818;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #050505;
}