<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Binary Clock | Home</title>
  <meta name="description" content="A binary clock representing time and date in bits." />
  <meta name="author" content="Andries" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>

  <div class="clock">
    <!--Hours (digit by digit)-->
    <div class="group hours">
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
    </div>
    <!--Minutes (digit by digit)-->
    <div class="group minutes">
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
    </div>
    <!--Seconds (digit by digit)-->
    <div class="group seconds">
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
      <div class="digit">
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
        <div class="bulb"></div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!--JS-->  
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>